* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

.header {
    position: fixed;
    top: 23px;
    left: 30px;
    width: 95%;
    height: 70px;
    background: #f2f4f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 1000;
    border-radius: 10px;
    opacity: 95%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
}

.menu {
    display: flex;
    gap: 25px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.2s;
}

.menu a:hover {
    color: #009ae4;
}

.acao {
    display: flex;
    align-items: center;
    gap: 15px;
}

.acao a {
  text-decoration: none;
  font-weight: bold;
}

.icon {
    cursor: pointer;
}

/* fim header */

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  text-align: center;
}

.secao {
  min-height: 100vh; /*vh = 100% da altura da tela do usuário*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.secao1 {
  background-image: url("../assets/imgs/overwatch-fundo2.jpg");

  display: flex;
  align-items: center; 
  justify-content: flex-start;
  padding-left: 80px;
}

.img-hero {
  width: 600px;
  height: 100px;
}

.titulo-hero{
  color: white;
  align-items: center;
  font-weight: bold;
}

.btn-hero {
  padding: 18px 40px;
  font-size: 20px;
  font-weight: bold;

  border: none;
  border-radius: 10px;

  background: #ff6a00;
  color: white;

  cursor: pointer;
  transition: 0.3s;
}

.btn-hero:hover {
  background: #e55d00;
  transform: scale(1.05);
}

.secao2 {
  background:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url("../assets/imgs/overwatch-fundo1.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.conteudo-secao2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  width: 80%;
  margin: auto;
  color: white;
}

.texto-secao2 {
  flex: 1;
}

.texto-secao2 h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.secao2 p {
  text-align: justify;
  hyphens: auto;
}

.texto-secao2 p {
  font-size: 20px;
  line-height: 1.5;
}

.img-secao2 {
  flex: 1;
  display: flex;
  justify-content: center;
}

.img-secao2 img {
  width: 640px;
  height: auto;
  border-radius: 10px;
   transition: transform 0.3s ease, filter 0.3s ease;
}

.img-secao2 img:hover {
  transform: scale(1.2);
  filter: brightness(1.1);
}

.secao3 {
  background-image: url("../assets/imgs/hanamura.jpg");
}

.secao4 {
  background-image: url("../assets/imgs/rialto.jpg");
}

.secao5 {
  background-image: url("../assets/imgs/chateau.jpg");
}




/* Cadastro */

.cadastro {
  height: var(--tamanho-login);
background-color: #15171e;
background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: palevioletred;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
  margin-top: 120px;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #32b9cd;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #ED145B;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 5%;
  margin-top: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}