* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    padding-top: 70px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #f2f4f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
}

.menu {
    display: flex;
    gap: 25px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.2s;
}

.menu a:hover {
    color: #009ae4;
}

.actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon {
    cursor: pointer;
}

.btn {
    background: #ff6a00;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.btn:hover {
    background: #e55d00;
}

/* fim header */

.secao {
  min-height: 100vh; /*vh = 100% da altura da tela do usuário*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.secao1 {
  background-image: url("../assets/imgs/overwatch-fundo.jpg");
}

.secao2 {
  background-image: url("../assets/imgs/overwatch-fundo1.jpg");
}

.secao3 {
  background-image: url("../assets/imgs/overwatch-fundo.jpg");
}

